table {
  width: 100%;
  position: relative;

  th {
    position: relative;
  }

  .resize-holder {
    display: block;
    border-right: 2px solid white;
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    height: 100%;
    cursor: col-resize;
    // opacity: 0;
  }

  thead:hover .resize-holder {
    // opacity: 1;
  }
}
