table {
  width: 100%;

  &.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  th {
    position: relative;

    &:not(:last-child) {
      .resize-holder {
        display: block;
        border-right: 2px solid white;
        position: absolute;
        width: 30px;
        top: 0;
        right: 0;
        height: 100%;
        opacity: 0;
        cursor: col-resize;

        &:hover {
          transition: 500ms ease;
          opacity: 1;
        }
      }
    }
  }
}
